<%- include('./partials/header.ejs') %>
<div class="container my-5">
  <h3 class="mb-2">Forget Password</h3>
  <div class="row mb-2">
    <div class="col input-group">
      <span class="input-group-text">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="22" height="22" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
         <path d="M22 11 C22 16 19 20 16 20 13 20 10 16 10 11 10 6 12 3 16 3 20 3 22 6 22 11 Z M4 30 L28 30 C28 21 22 20 16 20 10 20 4 21 4 30 Z" />
        </svg>
      </span>
      <input type="text" class="form-control" placeholder="Enter Your Username/Email" id="uname"/>
    </div>
    <div class="col">
      <button class="btn btn-outline-royal" id="otpGenerateBtn">
        Generate Otp
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <input
        type="number"
        class="form-control"
        placeholder="Enter Otp"
        id="otp"
      disabled/>
    </div>
    <div class="col">
      <button class="btn btn-outline-royal" id="otpValidateBtn" disabled/>
        Verify Otp
      </button>
    </div>
  </div>

  <div class="row my-3 d-none" id="changePwdFrm">
    <div class="col">
      <input class="form-control" type="password" placeholder="Create New Password" id="nPwd">
      <div class="valid-feedback d-block my-1"></div>
    </div>
    <div class="col">
      <input class="form-control" type="password" placeholder="Confirm Password" id="cPwd">
      <div class="valid-feedback d-block"></div>
    </div>
    <div class="col">
      <button class="btn btn-outline-royal" id="updatePasswordBtn" />
        Update Password
      </button>
    </div>
  </div>
</div>
<script src="/js/forgetPasswordScript.js"></script>
<%- include('./partials/footer.ejs') %>
